@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name

    .montserrat-<uniquifier> {
                   font-family: "Montserrat", sans-serif;
                   font-optical-sizing: auto;
                   font-weight: <weight>;
                   font-style: normal;
                 }*/

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Styles pour le conteneur des pages qui ne sont pas des overlays */
.main-page-container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px - 70px);
  background-color: white;
  z-index: 900;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.button {
  width: 130px;
  height: 40px;
  border: none;
}

.button-classic {
  max-width: 120px;
  padding: 10px;
  min-height: 30px;
  background-color: var(--quinte-color);
  border: none;
  color: white;
  margin: 20px 0;
}

:root {
  --fondamental-color: #1f2846;
  --seconde-color: #d05d48;
  --tierce-color: #c08d89;
  --quarte-color: #f4e6ae;
  --quinte-color: #f1eced;
  --overlay-width: 33vw;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

form input:focus {
  outline: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}
