.register-container {
  height: calc(100vh - 70px - 60px);
  box-sizing: border-box;
  overflow: auto;
}

.register-profil-section {
  background-color: var(--fondamental-color);
  padding: 1.5rem;
  color: white;
}

.register-container h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.register-container h3 {
  margin: 20px 0 10px 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #f0f0f0;
}

.profil-picture-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profil-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--quinte-color);
}

.profil-avatar-default {
  height: 100px;
  width: 100px;
  color: rgba(255, 255, 255, 0.4);
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 5px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-group input::placeholder {
  color: #999;
}

.form-group select {
  appearance: none;
}

.password-input-container {
  position: relative;
}

.password-toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.error,
select.error {
  border: 2px solid #e74c3c;
  background-color: #442c2a;
}

.error-message {
  color: #e74c3c;
  font-size: 0.95em;
  margin-top: 2px;
  display: block;
}

.submit-button {
  width: 100%;
  margin-top: 2rem;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}
